ImageIO==2.38.0
lazy-loader==0.6
networkx==3.7
numpy==2.5.3
opencv-python==5.0.0.93
packaging==26.3
pillow==12.3.0
scikit-image==0.26.0
scipy==1.18.1
tifffile==2026.9.20
open-clip-torch==3.3.0
requests
python-dotenv